<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITaskMaterialUsageService" />
                <binding name="WSHttpBinding_IMaterialService" />
                <binding name="WSHttpBinding_ITaskService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/TaskMgmt.WcfService/MaterialService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMaterialService"
                contract="MaterialServiceRef.IMaterialService" name="WSHttpBinding_IMaterialService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/TaskMgmt.WcfService/TaskService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITaskService"
                contract="TaskServiceRef.ITaskService" name="WSHttpBinding_ITaskService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/TaskMgmt.WcfService/TaskMaterialUsageService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITaskMaterialUsageService"
                contract="TaskMaterialUsageServiceRef.ITaskMaterialUsageService"
                name="WSHttpBinding_ITaskMaterialUsageService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>