<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- When adding/removing/updating WCF Service/Contract -->
	<!-- The ServiceReference in UI needs to be updated (manually) -->
	<!-- For that reason Config of system.serviceModel -->
	<!-- From the Server needs to be at least temporary found in the WCF-Config as well -->
	<system.serviceModel>
		<services>
			<service name="TaskMgmt.WcfService.TaskService">
				<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.ITaskService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!--<endpoint address="mex" binding="mexHttpBinding" contract="TaskMgmt.WcfService.ITaskService" />-->
				<!--<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.ITaskService" />-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TaskMgmt.WcfService/TaskService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="TaskMgmt.WcfService.MaterialService">
				<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.IMaterialService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TaskMgmt.WcfService/MaterialService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="TaskMgmt.WcfService.TaskMaterialUsageService">
				<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.ITaskMaterialUsageService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TaskMgmt.WcfService/TaskMaterialUsageService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information,
						set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- To receive exception details in faults for debugging purposes,
						  set the value below to true.  Set to false before deployment
						  to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>