<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<!-- When adding/removing/updating WCF Service/Contract -->
	<!-- The ServiceReference in UI needs to be updated (manually) -->
	<!-- For that reason Config of system.serviceModel -->
	<!-- From the Server needs to be at least temporary found in this WCF-Config as well -->



	<system.serviceModel>
		<services>
			<service name="TaskMgmt.WcfService.TaskService">
				<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.ITaskService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!--<endpoint address="mex" binding="mexHttpBinding" contract="TaskMgmt.WcfService.ITaskService" />-->
				<!--<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.ITaskService" />-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TaskMgmt.WcfService/TaskService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="TaskMgmt.WcfService.MaterialService">
				<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.IMaterialService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TaskMgmt.WcfService/MaterialService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="TaskMgmt.WcfService.TaskMaterialUsageService">
				<endpoint address="" binding="wsHttpBinding" contract="TaskMgmt.WcfService.ITaskMaterialUsageService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TaskMgmt.WcfService/TaskMaterialUsageService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information,
						set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- To receive exception details in faults for debugging purposes,
						  set the value below to true.  Set to false before deployment
						  to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>